.DS_Store
.grunt/
*.coverage
*.gdb
*.noseids
*.odc
*.pyc
*.sde
*.sublime-workspace
deploy
dist/
node_modules/
scripts/download/.tox/*
scripts/download/Download.py
scripts/UpdateData/agrc
scripts/UpdateData/database_connections/
scripts/UpdateData/Logs/
secrets.json
secrets.py
src/agrc-jasmine-matchers/
src/agrc/
src/app/**/*.css
src/bootstrap-stylus/
src/bootstrap/
src/components-jasmine/
src/dgauges/
src/dgrid/
src/dgrid0.3/
src/dijit/
src/dojo/
src/dojox/
src/dstore/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jasmine-jsreporter/
src/jquery-bridget/
src/jquery/
src/ladda-bootstrap/
src/layer-selector/
src/lodash/
src/modernizr/
src/mustache/
src/proj4/
src/put-selector/
src/seiyria-bootstrap-slider/
src/spin.js/
src/spinjs/
src/stubmodule/
src/util/
src/xstyle/
