@import '../../esri/css/esri.css';
@import '../../agrc/resources/map/BaseMap.css';
@import '../../seiyria-bootstrap-slider/css/bootstrap-slider.css';

// bootstrap overrides
$icon-font-path = '../../bootstrap-stylus/fonts/';
$nav-tabs-active-link-hover-border-color = #fff
$nav-tabs-border-color = #fff

// bootstrap-stylus
@require '../../bootstrap-stylus/bootstrap/component-animations';
@require '../../bootstrap-stylus/bootstrap/variables';
@require '../../bootstrap-stylus/bootstrap/mixins';
@require '../../bootstrap-stylus/bootstrap/normalize';
@require '../../bootstrap-stylus/bootstrap/utilities';
@require '../../bootstrap-stylus/bootstrap/glyphicons';
@require '../../bootstrap-stylus/bootstrap/popovers';
@require '../../bootstrap-stylus/bootstrap/close';
@require '../../bootstrap-stylus/bootstrap/alerts';
@require '../../bootstrap-stylus/bootstrap/forms';
@require '../../bootstrap-stylus/bootstrap/modals';
@require '../../bootstrap-stylus/bootstrap/panels';
@require '../../bootstrap-stylus/bootstrap/badges';
@require '../../bootstrap-stylus/bootstrap/buttons';
@require '../../bootstrap-stylus/bootstrap/button-groups';
@require '../../bootstrap-stylus/bootstrap/tooltip';
@require '../../bootstrap-stylus/bootstrap/scaffolding';
@require '../../bootstrap-stylus/bootstrap/labels';
@require '../../bootstrap-stylus/bootstrap/wells';
@require '../../bootstrap-stylus/bootstrap/navs';
@require '../../bootstrap-stylus/bootstrap/input-groups';
@require '../../bootstrap-stylus/bootstrap/progress-bars';
@require '../../bootstrap-stylus/bootstrap/type';

@require 'vars';
@require 'mixins';
@require '../project/resources/*'
@require '../mapControls/resources/*';
@require 'Toaster';
@require 'ToasterItem';

html, body, .app
    width 100%
    height 100%
    margin 0
    padding 0
    overflow hidden

#content-wrapper
    position absolute
    top 125px + 31px
    bottom 100px
    left 0
    right 0
    @media screen and (max-width: 600px)
        top 47px

#content, #content #content-map
    position absolute
    padding 0
    top 0
    bottom 0
    right 0
    left 0
    height auto

#footer-wrapper
    position absolute
    bottom 0

.app .map-overlay
    position absolute
    top 92px
    left 20px
    width 450px
    z-index 1
.app [data-dojo-attach-point=mapDiv]
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        .toolbar
            position absolute
            top 20px
            z-index 50
            left 90px
            .home, .toolbar-item
                margin 0 1px
                width 32px
                height 32px
                &.nav-btn:hover
                    background-color #eee
                    border-color #57585A;
                &:hover
                    background-color #333
                    background-color rgba(102, 102, 102, 0.90)
                &:active
                    background-color #ccc
                    background-color rgba(102, 102, 102, 0.60)
        .arcgisSearch
            position absolute
            top 55px
            left 20px
            // patch for 3.13 js api. remove when 3.14
            .searchBtn
                width 20px
        .agrc .selectorMain
            top 17px
            right 10px
*:focus
    outline none !important

.adjacent >
    &path,circle
        fill $adjacentFeatures
        opacity 0.4
.adjacent-line > path
        stroke $adjacentFeatures
        stroke-opacity 0.4
