@import '../../esri/css/esri.css';
@import '../../agrc/resources/map/BaseMap.css';
@import '../../agrc/resources/map/BaseMapSelector.css';
@import "../../bootstrap-stylus/bootstrap/variables";
@import "../../bootstrap-stylus/bootstrap/mixins";
@import "../../bootstrap-stylus/bootstrap/normalize";
@import "../../bootstrap-stylus/bootstrap/utilities";

html, body, .app
    width 100%
    height 100%
    margin 0
    padding 0
    overflow hidden

    /* CENTER (MAP) */
    [data-dojo-attach-point=mapDiv]
        position absolute
        top 0
        bottom 0
        left 0
        right 0

        .HomeButton
            position absolute
            top 20px
            left 100px
            z-index 50
            .home
                width 28px
                height 28px
        .agrc .selectorMain
            top 17px
            right 10px
