border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n
toggle-buttons()
    > label.btn.btn-default.btn-xs
        margin 2px 5px 2px 0
        border-radius 15px
        padding 1px 8px
