border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n
toggle-buttons()
    > label.btn.btn-default.btn-xs
        margin 2px 5px 2px 0
        border-radius 15px
        padding 1px 8px
map-panel()
    position relative
    .panel-heading
        color white
        padding-left 54px
        .icon
            width 35px
            height 26px
            position absolute
            top 7px
            left 10px
            background-repeat no-repeat
    .panel-body .btn-group
        toggle-buttons()
