$projectBackground = rgba(87, 88, 90, .8)
$projectBorder = darken($projectBackground, 30%)
$green = #1B7772
$blue = #1C91B1
$red = #B1481D

// project status
$draft = #838e8e
$proposed = #AF4925
$current = #2191AE
$pendingCompleted = #CC9F2B
$completed = #269345
$cancelled = #111

$adjacentFeatures = #FFF
