<div>
    <button type="button" class="close" data-dismiss='alert' role='alert'
        data-dojo-attach-event='click: onClose'>
        <span class='glyphicon glyphicon-trash'></span>
    </button>

    <ul class='list-unstyled'>
        <li data-dojo-attach-point="typeLi" class='hidden'>
            <strong>Type:</strong> ${type}
        </li>
        <li data-dojo-attach-point="treatmentLi" class='hidden'>
            <strong>Treatment:</strong> ${treatment}
        </li>
        <li data-dojo-attach-point="retreatmentLi" class='hidden'>
            <strong>Retreatment:</strong> ${retreatment}
        </li>
        <li data-dojo-attach-point="actionLi" class='hidden'>
            <strong>Action:</strong> ${action}
        </li>
        <li data-dojo-attach-point="commentsLi" class='hidden'>
            <strong>Comments:</strong> ${comments}
        </li>
    </ul>
</div>
