<div>
    <h4 data-dojo-attach-point="categoryNode"></h4>
    <div class="btn-group">
        <button class="btn btn-default navbar-btn tool"
            data-dojo-attach-point='selectBtn'>
            <span class="glyphicon glyphicon-arrow-down"></span>
            Select/Edit
        </button>
        <button class="btn btn-default navbar-btn tool"
            value='POLY'
            data-dojo-attach-point='drawBtnArea'>
            <span class="glyphicon glyphicon-edit"></span>
            Area
        </button>
        <button class="btn btn-default navbar-btn tool"
            value='LINE'
            data-dojo-attach-point='drawBtnLine'>
            <span class="glyphicon glyphicon-pencil"></span>
            Line
        </button>
        <button class="btn btn-default navbar-btn tool"
            value='POINT'
            data-dojo-attach-point='drawBtnPoint'>
            <span class="glyphicon glyphicon-record"></span>
            Point
        </button>
        <button class="btn btn-default navbar-btn tool"
            data-dojo-attach-point='cutBtn'>
            <span class="glyphicon glyphicon-scissors"></span>
            Cut
        </button>
        <div class="btn-group">
            <button class="btn btn-default navbar-btn dropdown-toggle"
                data-toggle='dropdown'>
                Snap <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-dojo-attach-point='dropdownMenu'>
                <li>
                    <a href='#'>
                        <input type="checkbox" name='project'> Project Features
                    </a>
                </li>
                <li>
                    <a href="#">
                        <input type="checkbox" name='adjacent'> Adjacent Project Features
                    </a>
                </li>
                <li>
                    <a href="#">
                        <input type="checkbox" name='land'> Land Ownership
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-primary navbar-btn"
            data-dojo-attach-event='click: onSaveClick'>Finish</button>
        <button class="btn btn-warning navbar-btn"
            data-dojo-attach-event='click: onCancelClick'>Cancel</button>
    </div>
</div>
