<p class="tight">
    <label>Category:</label> {{type}}</p>
{{#action}}
<p class="tight">
    <label>Action:</label> {{action}}</p>
{{/action}}
{{#subType}}
<p class="tight">
    <label>Treatment:</label> {{subType}}</p>
{{/subType}}
{{#description}}
<p class="tight">
    <label>Description:</label> {{description}}</p>
{{/description}}
{{#size}}
<p class="tight">
    <label>Size:</label> {{size}}</p>
{{/size}}
{{#hasCounty}}
<p class="tight">
    <label>County</label>
    <ul class="tight">
        {{#county}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/county}}
    </ul>
</p>
{{/hasCounty}}
{{#hasLandOwnership}}
<p class="tight">
    <label>Land Ownership</label>
    <ul class="tight">
        {{#landOwnership}}
        <li>{{name}}, {{extra}}{{#space}}: {{space}}{{/space}}</li>
        {{/landOwnership}}
    </ul>
</p>
{{/hasLandOwnership}}
{{#hasFocusArea}}
<p class="tight">
    <label>Focus Area</label>
    <ul class="tight">
        {{#focusArea}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/focusArea}}
    </ul>
</p>
{{/hasFocusArea}}
{{#hasSageGrouse}}
<p class="tight">
    <label>Sage Grouse</label>
    <ul class="tight">
        {{#sageGrouse}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/sageGrouse}}
    </ul>
</p>
{{/hasSageGrouse}}
{{#hasNhd}}
<p class="tight">
    <label>Stream Miles</label>
    <ul class="tight">
        {{#nhd}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/nhd}}
    </ul>
</p>
{{/hasNhd}}
</div>
<div class="clearfix"></div>
