<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="hidden" role='presentation'>
            <a href="#${id}_featureTab" data-toggle='tab'
                data-dojo-attach-point='featureTabLink'>Feature</a>
        </li>
        <li class='active'>
            <a href="#${id}_detailsTab" data-toggle='tab'>Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane hidden" id="${id}_featureTab"
            data-dojo-attach-point='featureTabContents'></div>
        <div class="tab-pane active" id="${id}_detailsTab">
            <div class="project-information" id="${id}_projectDetails">
                <label>Description</label>
                <p>${description}</p>
                <label>Lead Agency:</label> <span>${leadAgency}</span>
                <br>
                <label>Acres:</label> <span>{acres}</span>
                <br>
                <div data-dojo-attach-point="streamMilesDiv">
                    <label>Stream Miles:</label> <span>{streamMiles}</span>
                </div>
                <label>Region:</label> <span>${region}</span>
                <br>
                <label>Project Manager:</label> <span>${projectManagerName}</span>
            </div>
        </div>
    </div>
</div>
