<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="hidden" role='presentation'
            data-dojo-attach-point='editFeatureTab'>
            <a href="#${id}_editFeatureTab" data-toggle='tab'
                data-dojo-attach-point='editFeatureTabLink'>Modify Feature</a>
        </li>
        <li class="hidden" role='presentation'
            data-dojo-attach-point='newFeatureTab'>
            <a href="#${id}_newFeatureTab" data-toggle='tab'
                data-dojo-attach-point='newFeatureTabLink'>Add Feature</a>
        </li>
        <li class="hidden" role='presentation'
            data-dojo-attach-point='featureTab'>
            <a href="#${id}_featureTab" data-toggle='tab'
                data-dojo-attach-point='featureTabLink'>Feature</a>
        </li>
        <li class='active'>
            <a href="#${id}_detailsTab" data-toggle='tab'
                data-dojo-attach-point='detailsTabLink'>Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane hidden" id="${id}_editFeatureTab"
            data-dojo-attach-point='editFeatureTabContainer'>
            <div data-dojo-attach-point='editFeatureTabContents'></div>
        </div>
        <div class="tab-pane hidden" id="${id}_newFeatureTab"
            data-dojo-attach-point='newFeatureTabContainer'>
            <div data-dojo-attach-point='newFeatureTabContents'></div>
        </div>
        <div class="tab-pane hidden" id="${id}_featureTab"
            data-dojo-attach-point='featureTabContainer'>
            <p data-dojo-attach-point='modBtns' class='hidden'>
                <button role="button" class="btn btn-primary"
                    data-dojo-attach-point='modifyFeatureBtn'
                    data-dojo-attach-event='click: onModifyFeatureClick'>Modify Feature</button>
                <button role="button" class="btn btn-danger"
                    data-dojo-attach-point='deleteFeatureBtn'
                    data-dojo-attach-event='click: onDeleteFeatureClick'>Delete Feature</button>
            </p>

            <div data-dojo-attach-point='featureTabContents'></div>
        </div>
        <div class="tab-pane active" id="${id}_detailsTab">
            <div class="project-information" id="${id}_projectDetails"
                data-dojo-attach-point='projectDetailsNode'>
            </div>
        </div>
    </div>
</div>
