<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role='presentation'>
            <a href="#${id}_featureTab" data-toggle='tab'>Feature</a>
        </li>
        <li>
            <a href="#${id}_detailsTab" data-toggle='tab'>Details</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="${id}_featureTab">
            <p>
                <select class="form-control">
                    <option>Select a Treatment Area</option>
                </select>
            </p>
        </div>
        <div class="tab-pane" id="${id}_detailsTab">
            <p>??</p>
        </div>
    </div>
</div>
