<div>
    <strong>${title} (${projectId})</strong>
    <span id='projectStatus-${status}' class='projectStatus pull-right'>${status}</span>
    <div class="clearfix"></div>
    <br>
    <a href='#' role='button' class="btn btn-primary" data-toggle="button">Adjacent Projects</a>
    <a href='#projectDetails' role='button' class="btn btn-primary" data-toggle="collapse">Project Details</a>
    <br>
    <div class="collapse in" id="projectDetails">
        <div class="well">
            <label>Description</label>
            <p>${description}</p>
            <label>Lead Agency:</label> <span>${leadAgency}</span>
            <br>
            <label>Acres:</label> <span>${acres}</span>
            <br>
            <div data-dojo-attach-point="streamMilesDiv">
                <label>Stream Miles:</label> <span>${streamMiles}</span>
            </div>
            <label>Region:</label> <span>${region}</span>
            <br>
            <label>Project Manager:</label> <span>${projectManagerName}</span>
        </div>
    </div>
</div>
