<label>Description</label>
<p>{{description}}</p>
<p class="tight">
    <label>Project Manager:</label> {{projectManagerName}}</p>
<p class="tight">
    <label>Lead Agency:</label> {{leadAgency}}</p>
{{#region}}
<p class="tight">
    <label>Region:</label> {{region}}</p>
{{/region}}
{{#affectedAcres}}
<p class="tight">
    <label>Affected Acres:</label> {{affectedAcres}}</p>
{{/affectedAcres}}
{{#terrestrialAcres}}
<p class="tight">
    <label>Terrestrial Acres:</label> {{terrestrialAcres}}</p>
{{/terrestrialAcres}}
{{#aquaticAcres}}
<p class="tight">
    <label>Aquatic/Riparian Acres:</label> {{aquaticAcres}}</p>
{{/aquaticAcres}}
{{#easementAcres}}
<p class="tight">
    <label>Easement/Acquisition Acres:</label> {{easementAcres}}</p>
{{/easementAcres}}
{{#streamMiles}}
<p class="tight">
    <label>Stream Miles:</label> {{streamMiles}}</p>
{{/streamMiles}}
