<label>Description</label>
<p>{{description}}</p>
<p class="tight">
    <label>Project Manager:</label> {{projectManagerName}}</p>
<p class="tight">
    <label>Lead Agency:</label> {{leadAgency}}</p>
{{#region}}
<p class="tight">
    <label>Region:</label> {{region}}</p>
{{/region}}
{{#affectedAreaSqMeters}}
<p class="tight">
    <label>Affected Acres:</label> {{affectedAreaSqMeters}}</p>
{{/affectedAreaSqMeters}}
{{#terrestrialSqMeters}}
<p class="tight">
    <label>Terrestrial Acres:</label> {{terrestrialSqMeters}}</p>
{{/terrestrialSqMeters}}
{{#aquaticSqMeters}}
<p class="tight">
    <label>Aquatic/Riparian Acres:</label> {{aquaticSqMeters}}</p>
{{/aquaticSqMeters}}
{{#easementSqMeters}}
<p class="tight">
    <label>Easement/Acquisition Acres:</label> {{easementSqMeters}}</p>
{{/easementSqMeters}}
{{#streamLnMeters}}
<p class="tight">
    <label>Stream Miles:</label> {{streamLnMeters}}</p>
{{/streamLnMeters}}
{{#hasCounty}}
<p class="tight">
    <label>County</label>
    <ul class="tight">
        {{#county}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/county}}
    </ul>
</p>
{{/hasCounty}}
{{#landOwnership}}
<p class="tight">
    <label>Land Ownership</label>
    <ul class="tight">
        {{#landOwnership}}
        <li>{{name}}, {{extra}}{{#space}}: {{space}}{{/space}}</li>
        {{/landOwnership}}
    </ul>
</p>
{{/landOwnership}}
{{#focusArea}}
<p class="tight">
    <label>Focus Area</label>
    <ul class="tight">
        {{#focusArea}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/focusArea}}
    </ul>
</p>
{{/focusArea}}
{{#sageGrouse}}
<p class="tight">
    <label>Sage Grouse</label>
    <ul class="tight">
        {{#sageGrouse}}
        <li>{{name}}{{#space}}: {{space}}{{/space}}</li>
        {{/sageGrouse}}
    </ul>
</p>
{{/sageGrouse}}
