$width = 515px
.draw-toolbar
    width $width
    left 50%
    margin-left - ($width/2)
    top 0
    position absolute
    border-top-left-radius 0
    border-top-right-radius 0
    h4
        margin-top 0

// context menu
.tundra .dijitMenuPopup .dijitMenuItemSelected
    color inherit
