.features-grid
    .dgrid
        border none
        table
            margin 0
            border-collapse separate
        .dgrid-header th
            border-left 1px solid #555
            border-right 1px solid #777
            border-top 1px solid #555
            border-bottom 1px solid #333
        .field-id
            display none
            visibility hidden
        .field-opacity
            width 30px
        .dgrid-cell
            border none
            .dgrid-expando-icon
                display none
        .dgrid-row.selectable:hover td
            background-color #E2DEC0
            cursor pointer
        .dgrid-row
            border-right solid 1px #e8e8e8
            border-left solid 1px #e8e8e8
            border-bottom solid 1px #e8e8e8
