.feature-details
    margin-bottom 10px
    // https://github.com/maxmx/bootstrap-stylus/pull/98
    .nav-tabs>li>a
        border-top-radius($border-radius-base)
        border-bottom-right-radius 0
        border-bottom-left-radius 0
        
    .tab-content
        background-color #fff
        padding 5px
