.feature-details
    margin-bottom 10px
    // https://github.com/maxmx/bootstrap-stylus/pull/98
    .nav-tabs>li>a
        border-top-radius($border-radius-base)
        border-bottom-right-radius 0
        border-bottom-left-radius 0
    .tab-content
        background-color #fff
        padding 5px
    .project-information
        padding-left 0
        margin-bottom 0
        width 100%
        overflow-y auto
        p
            margin-top 0
    p.tight
        margin 0
    ul.tight
        list-style-type none
        padding 0 0 0 10px
    [data-dojo-attach-point='modBtns']
        margin-top 5px
