.opacity-slider
    .btn
        padding 1px 5px
        position absolute
        left 50%
        margin-left -14px
        color gray
    [data-dojo-attach-point='sliderDiv']
        width 100px
        height 100px
