@require '../resources/vars.styl'
@require '../resources/mixins.styl'

.project-container
    padding 10px
    border-radius(5px)
    background $projectBackground
    border 1px $projectBorder solid
    overflow-y auto
