@require '../../../bootstrap-stylus/bootstrap/panels';
@require '../../../bootstrap-stylus/bootstrap/labels';
@require '../../../bootstrap-stylus/bootstrap/wells';
@require '../../../bootstrap-stylus/bootstrap/component-animations';
@require '../../../bootstrap-stylus/bootstrap/forms';

.project-details
    .projectStatus
        padding: 1px 4px
    #projectDetails
        padding-left 0
        width 100%
        p
            margin-top 0
