.project-details
    .title
        color #fff
        max-width 260px
        overflow-x hidden
        text-overflow ellipsis
        white-space nowrap
        margin-top 6px
    .projectStatus
        padding: 5px 7px
    >p
        margin-top 10px
