.download-button
    .glyphicon
        color #fff
        font-size 20px
        top 4px
        left 4px
    &.close
        margin-top -4px
.app [data-dojo-attach-point=mapDiv]
    .toolbar
        .HomeButton.download-button
            .home
                background-image none
                span
                    display block
