.filter
    .panel-heading
        cursor pointer
        &:hover
            border-color #A5A5A5
    [data-dojo-attach-point='buttonContainer']
        // display block
        margin-bottom 5px
        > label.btn.btn-default.btn-xs
            margin 0 5px 5px 0
            border-radius 15px
            padding 1px 8px
