.filter
    map-panel()
    [data-dojo-attach-point='buttonContainer']
        margin-bottom 5px
.filter.status
    .icon
        background-image url('./images/status.png')
.filter.feature-type
    .icon
        background-image url('./images/type.png')
.filter.status
    label
        text-shadow none
        box-shadow none
        &.active
            color white
            &.Draft
                background-color $draft
            &.Proposed
                background-color $proposed
            &.Current
                background-color $current
            &.PendingCompleted
                background-color $pendingCompleted
            &.Completed
                background-color $completed
            &.Cancelled
                background-color $cancelled
