@require '../../../bootstrap-stylus/bootstrap/panels';
@require '../../../bootstrap-stylus/bootstrap/labels';
@require '../../../bootstrap-stylus/bootstrap/wells';
@require '../../../bootstrap-stylus/bootstrap/forms';

.layer-controls
    .title
        color #fff
