.legend
    table
        background none
        box-shadow none
        margin 0
        td
            background none
            border none
            line-height 15px
        .patch-cell
            padding-bottom 1px
        .label-cell
            padding-left 5px
