.app [data-dojo-attach-point=mapDiv]
    .toolbar
        .HomeButton.non-wri-button
            .home
                background-image url("../mapControls/resources/non-wri-projects.png")
            .toggle
                background-color darken($toolbarButton, 80%)
                &:hover
                    background-color darken($toolbarButton, 50%)
