<div>
    <div class="panel-heading" data-dojo-attach-point='heading'>
        ${name}
        <div class="hidden">(<span data-dojo-attach-point='numSpan'>0</span>)</div>
        <button type="button" class="close hidden" data-dismiss="alert" aria-label="Close"
            data-dojo-attach-point='closeBtn'
            data-dojo-attach-event='click: remove'>
            <span aria-hidden="true"
                data-dojo-attach-point='closeSpan'>&times;</span>
        </button>
    </div>
    <div class="panel-collapse collapse" data-dojo-attach-point='body'>
        <div class="panel-body">
            <div data-dojo-attach-point="buttonContainer"
                class='btn-group' data-toggle='buttons'></div>
            <button type='button' class='btn btn-xs btn-link pull-right'
                data-dojo-attach-event='click: clear'>clear</button>
            <div class="btn-group pull-right hidden"
                data-toggle="buttons"
                data-dojo-attach-point='anyAllGroup'>
                <label class='btn btn-default btn-xs active'
                    data-toggle='tooltip'
                    title='show projects with <u><b>any</b></u> of these values'
                    data-dojo-attach-event='click: toggleAny'
                    data-dojo-attach-point='anyBtn'>
                    <input type='radio' name='${id}_any_all'
                        autocomplete='off'> any
                </label>
                <label class='btn btn-default btn-xs'
                    data-toggle='tooltip'
                    title='show projects with <u><b>all</b></u> of these values'
                    data-dojo-attach-event='click: toggleAny'>
                    <input type='radio' name='${id}_any_all'
                        autocomplete='off'> all
                </label>
            </div>
        </div>
    </div>
</div>
