<div>
    <div class="panel-heading" data-dojo-attach-point='heading'>
        <span class="icon"></span>
        Map Reference Data
        <button class='btn btn-default btn-xs active pull-right'
            data-toggle='button'
            data-dojo-attach-event='click: toggleLabels'
            data-dojo-attach-point='labelsBtn'>Labels</button>
    </div>
    <div class="panel-collapse collapse" data-dojo-attach-point='body'>
        <div class="panel-body">
            <div class='btn-group toggle-buttons' data-toggle='buttons' data-dojo-attach-point='container'></div>
        </div>
    </div>
</div>
